Default properties *,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
}

ul {
  padding: 0px 0px 0px 0px;
}

img {
  vertical-align: top;
}

button {
  font-family: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}

p {
  margin: 0;
}

html,
body {
  height: 100%;
  line-height: 1;
  box-sizing: border-box;
}

a,
button {
  color: inherit;
  border: 0;
  padding: 0px 0px 0px 0px;
  background: none;
}

body {
  margin: 0px 0px 0px 0px;
  font-family: Montserrat;
  color: #000;
  background-color: #646363;
  font-size: 16px;
  line-height: 111.52%;
  font-weight: 400;
  box-sizing: border-box;
}

.menu-open body {
  overflow: hidden;
}

.display body {
  overflow: hidden;
}

/* ------------------------------------------- */
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

/* -------------------------------------- */
[class*=__container] {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* --------------------------------------------- */
.page {
  flex: 1 1 auto;
}

.title {
  font-weight: 700;
  font-size: 20px;
  padding: 10px 0px 0px 0px;
  margin-bottom: 15px;
}

.button-sidebar {
  background: #ECECEC;
  border: 1px solid #BBBBBB;
  border-radius: 10px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  font-size: 16px;
  transition: all 0.3s ease 0s;
}
.button-sidebar:hover {
  transform: scale(0.98);
  border-color: #8e8e8e;
}
.button-sidebar._active-button {
  background: #BBBBBB;
  border: 1px solid #000000;
  color: #000000;
  font-weight: 700;
  font-size: 16px;
}

.done {
  color: #000;
  font-weight: 500;
}

.button-take,
.button-close,
.button-done {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  font-size: 20px;
  width: 100%;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.button-take {
  background: #43AB6D;
  border: 1px solid #3A915D;
  height: 22px;
}
.button-take:hover {
  transform: scale(0.9);
}

.button-close {
  background: #435AAB;
}
.button-close:hover {
  transform: scale(0.9);
}

.button-done {
  background: #C7C7C7;
  cursor: not-allowed;
}

.item-green {
  background: linear-gradient(89.98deg, #BEE9E6 30.53%, rgba(217, 217, 217, 0) 97.3%);
}

.item-orange {
  background: linear-gradient(89.98deg, rgba(237, 187, 114, 0.5) 30.53%, rgba(217, 217, 217, 0) 97.3%);
}

.item-red {
  background: linear-gradient(89.98deg, #E9BEBE 30.53%, rgba(217, 217, 217, 0) 97.3%);
}

.item-gray {
  background: linear-gradient(89.98deg, #DFECEB 30.53%, rgba(217, 217, 217, 0) 97.3%);
}

.display .zatemnenny {
  display: block;
}

.zatemnenny {
  background: rgba(102, 102, 102, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.zatemnenny__vikno {
  width: 500px;
  height: 300px;
  text-align: center;
  padding: 15px;
  border: 3px solid #0000cc;
  border-radius: 10px;
  color: #0000cc;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 100px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}
.zatemnenny__close {
  width: 100px;
  margin: 0 auto;
  border: 1px solid #0000cc;
  color: #0000cc;
  padding: 10px 12px;
  text-decoration: none;
  background: #f2f2f2;
  font-size: 14pt;
  cursor: pointer;
}
.zatemnenny__close:hover {
  background: #e6e6ff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
}
.header__container {
  height: 50px;
  background-color: #000;
  color: #fff;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header__logo {
  flex: 0 0 200px;
  max-width: 200px; /* 300px/1440 */
  min-width: 200px; /* 300px/1440 */
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  justify-content: center;
  position: relative;
  z-index: 6;
}
.header__logo span {
  font-weight: 300;
  padding-left: 2px;
}
@media (max-width: 1100px) {
  .header__logo {
    font-size: 18px;
    font-weight: 600;
  }
}
@media (max-width: 860px) {
  .header__logo {
    font-size: 16px;
    font-weight: 600;
  }
}
.header__search {
  flex: 0 1 17.152778%; /* 247/1440 */
  min-height: 40px;
  position: relative;
  z-index: 6;
  background: #1F2526;
  border-radius: 10px;
  text-align: center;
}
@media (max-width: 1100px) {
  .header__search {
    flex: 1 1 auto;
  }
}
.header__menu {
  flex: 1 1 auto;
  margin-left: 5px;
  position: relative;
}
.search-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 6;
}
@media (max-width: 550px) {
  .search-header {
    display: none;
  }
}
.search-header__input {
  border: 1px solid #141819;
  border-radius: 15px;
  width: 177px;
  height: 27px;
  position: relative;
}
.search-header__input input[type=text] {
  background: rgba(0, 0, 0, 0);
  border: 1px solid rgb(164, 16, 16);
  color: #fff;
}
.search-header__input::before {
  content: "";
  position: absolute;
  padding: 20px;
  width: 10px;
  height: 10px;
  background: url("/img/header/search.svg") center repeat-y;
  border-top: 3px solid rgb(0, 0, 0);
  border-right: 3px solid rgb(0, 0, 0);
  transform: rotate(45deg);
}
.search-header__input::before {
  top: 20px;
  left: 0;
}

.menu {
  position: relative;
  z-index: 5;
}
.menu__body {
  display: flex;
  background: #1F2526;
  border-radius: 10px;
  height: 100%;
  transition: all 0.3s ease 0s;
}
.menu__body::before {
  content: "";
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #000;
  z-index: 2;
  transition: all 0.3s ease 0s;
}
@media (max-width: 1100px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: #5c5b5b;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0;
    padding-top: 130px;
    overflow: auto;
    box-sizing: border-box;
  }
}
.menu__list-login {
  flex: 0 1 150px;
  align-self: center;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  transition: all 0.3s ease 0s;
}
@media (max-width: 1100px) {
  .menu__list-login {
    flex: 0 1 50px;
    text-align: center;
    padding: 0;
  }
}
.menu__list {
  flex: 1 1 auto;
  display: flex;
  gap: 25px;
  padding-right: 50px;
  padding-left: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.menu__list::before, .menu__list::after {
  content: "";
  position: absolute;
  z-index: 1;
  height: 90px;
  border-right: 3px solid rgb(0, 0, 0);
}
.menu__list::before {
  top: 0;
  left: 0px;
}
.menu__list::after {
  top: 0;
  right: 0px;
}
@media (max-width: 1100px) {
  .menu__list {
    display: flex;
    flex: 0 1 150px;
    flex-direction: column;
    min-height: 150px;
  }
  .menu__list::before, .menu__list::after {
    display: none;
  }
}
.menu__link {
  font-weight: 700;
  font-size: 15px;
  transition: all 0.3s ease 0s;
  display: inline-block;
}
.menu__link:hover {
  transform: scale(1.05);
  color: rgb(174, 172, 172);
}
.menu__list-exit {
  flex: 0 1 110px;
  font-weight: 700;
  font-size: 15px;
  align-self: center;
  display: block;
  text-align: center;
  padding-right: 25px;
  padding-left: 20px;
  transition: all 0.3s ease 0s;
}
.menu__list-exit:hover {
  transform: scale(1.05);
  color: rgb(250, 88, 88);
}
@media (max-width: 1100px) {
  .menu__list-exit {
    flex: 0 1 50px;
    padding: 0;
    margin-top: 30px;
  }
}
.menu-open .menu__body,
.menu-open .menu__body::before {
  left: 0;
}

.icon-menu {
  display: none;
}
@media (max-width: 1100px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 11px;
    right: 10px;
    width: 40px;
    height: 30px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .icon-menu span:first-child {
    top: 0;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }
  .icon-menu._active span {
    transform: scale(0);
  }
  .icon-menu._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.menu-open .icon-menu span:nth-child(2) {
  display: none;
}

.menu-open .icon-menu span:nth-child(1) {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.menu-open .icon-menu span:nth-child(3) {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.page {
  position: relative;
}

.sidebar {
  top: 0;
  left: 0;
}
.sidebar__container {
  display: flex;
}

.sidebar {
  padding-top: 50px;
}
.sidebar__all {
  position: fixed;
  min-width: 200px;
  padding: 10px 15px;
  flex: 0 0 20.408163%; /* 300/1470 */
  height: 100%;
  background: #D8D8D8;
  box-sizing: border-box;
  overflow: auto;
}
.sidebar__repairs {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 0 10px;
}
.sidebar__repairs:not(:last-child) {
  margin-bottom: 10px;
}
.sidebar__repairs:last-child {
  margin-bottom: 50px;
}
.sidebar__shops {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 0 10px;
}
.sidebar__shops:not(:last-child) {
  margin-bottom: 10px;
}
.sidebar__shops:last-child {
  margin-bottom: 50px;
}
.sidebar__workers {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 0 10px;
}
.sidebar__workers:not(:last-child) {
  margin-bottom: 10px;
}
.sidebar__workers:last-child {
  margin-bottom: 50px;
}

.repairs-sidebar {
  padding-bottom: 20px;
}
.repairs-sidebar__item {
  color: rgba(0, 0, 0, 0.5);
  padding-left: 9px;
}
.repairs-sidebar__item:not(:last-child) {
  margin-bottom: 15px;
}
.repairs-sidebar__item.done {
  color: #000;
  font-weight: 500;
}
.repairs-sidebar__link {
  display: block;
  transition: all 0.3s ease 0s;
}
.repairs-sidebar__link:hover {
  text-decoration: underline;
}

.shops-sidebar {
  padding-bottom: 10px;
}
.shops-sidebar__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.workers-sidebar {
  padding-bottom: 10px;
}
.workers-sidebar__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.workers-sidebar__button {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.main-content {
  padding: 10px 20px 10px 210px;
  background-color: #fff;
  min-height: 88vh;
  overflow: auto;
}
.main-content__items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item-main-content {
  border: 1px solid rgba(139, 136, 136, 0.7);
  border-radius: 20px;
  padding: 3px 15px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  min-height: 60px;
  max-height: 60xp;
}
.item-main-content__statusbar {
  background: #f5f3fe;
  position: relative;
  height: 5px;
  border: 1px solid #000;
  border-radius: 15px;
  overflow: hidden;
}
.item-main-content__statusbar span {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-color: yellow;
}

.body-item {
  display: flex;
}
.body-item__repair-details {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2px;
  flex: 0 1 6.531532%; /* 128/1110px */
  line-height: 111%;
}
.body-item__titles {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  line-height: 111%;
  font-weight: 600;
  font-size: 10px;
  flex: 0 1 7.810811%; /* 120/1110px */
}
.body-item__parameters {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  line-height: 111%;
  flex: 0 1 62.545455%; /* 600/1100px */
  font-weight: 400;
  font-size: 10px;
}
.body-item__parameters.worranty {
  background: url("/img/main/warranty.svg");
  background-repeat: norepeat;
  background-position: 250px center;
  background-size: 100% 100%;
}
.body-item__actions {
  margin: 0 auto;
  flex: 0 1 13.513514%; /* 150/1110px */
}

.details-repair {
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.details-repair:hover {
  transform: scale(0.97);
}
.details-repair__number {
  font-weight: 700;
  font-size: 14px;
}
.details-repair__shop {
  font-weight: 400;
  font-size: 12px;
}

.parameters-item__malfunction-parameter {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 700px;
}
.parameters-item__passAndTimes {
  display: flex;
}

.passAndTimes__times {
  display: flex;
  margin-left: 60px;
  gap: 3px;
}
.passAndTimes__label {
  font-weight: 600;
  font-size: 10px;
  line-height: 111%;
}
.passAndTimes__label2 {
  font-weight: 600;
  font-size: 10px;
  line-height: 111%;
}
.actions-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}
.actions-item__worker {
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}
.actions-item__button {
  font-weight: 600;
  font-size: 12px;
  color: #fff;
}/*# sourceMappingURL=style.css.map */